.exercise-title {
  text-align: center;
}

.complete {
  text-decoration: line-through;
}

.selected {
  border: 1.5px solid darkblue;
}

.ant-card-actions > li {
  margin: 6px 0;
}

.ant-card-small > .ant-card-body {
  padding: 5px;
}

.button-update {
  width: 100%;
}

.search-input {
  width: 502px;
  margin: auto;
  margin-bottom: 3px;
}

.exercise-add_wrapper {
  margin-right: 200px;
}

.exercise-select {
  margin-right: 70px;
}

.exercise-dropdown {
  width: 237px;
  margin-bottom: 3px;
}

.search-video_empty {
  margin-left: 100px;
}

.exercise-text {
  word-wrap: break-word;
}

.exercise-content{
  overflow: auto;
}

.exercise-content::-webkit-scrollbar{
  width: 1px;
}

.exercise-row {
  margin-bottom: 1px;
}