.col-sm-2 {
	padding: 10px;
	border-radius: 4px;
	height: 125px;
  margin-bottom: 60px;
}

.sp {
	width: 140px;
	height: 140px;
	clear: both;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-texture {
	border: 1px transparent solid;
	border-radius: 4px;
	position: relative;
	background: linear-gradient(45deg, transparent 49%, rgb(255, 196, 196) 50%, rgb(255, 252, 252) 50%, transparent 51%, transparent),
				linear-gradient(-45deg, transparent 49%, yellow 50%, yellow 50%, transparent 51%, transparent);
	background-size: 16px 16px;
	background-position: 0% 0%;
	-webkit-animation: spTexture 1s infinite linear;
	animation: spTexture 1s infinite linear;
}

@-webkit-keyframes spTexture {
	from { background-position: 0px 0px; }
	to { background-position: -16px 0px; }
}
@keyframes spTexture {
	from { background-position: 0px 0px; }
	to { background-position: -16px 0px; }
}

/* Spinner Wave */
.sp-wave {
	border-radius: 50%;
	position: relative;
  opacity: 1;
  background: transparent;
}
.sp-wave:before, .sp-wave:after  {
	content:'';
	border: 1px rgb(55, 142, 255) solid;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
}
.sp-wave:before {
	transform: scale(1,1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
	transform: scale(0,0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
	from { -webkit-transform: scale(0.5,0.5); opacity: 0; }
	to { -webkit-transform: scale(1,1); opacity: 1; }
}
@keyframes spWaveAf {
	from { transform: scale(0.5,0.5); opacity: 0; }
	to { transform: scale(1,1); opacity: 1; }
}
@-webkit-keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}
@keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}

.ant-switch-inner {
  font-size: 16px;
}

.exercise-title {
  text-align: center;
}

.complete {
  text-decoration: line-through;
}

.selected {
  border: 1.5px solid darkblue;
}

.ant-card-actions > li {
  margin: 6px 0;
}

.ant-card-small > .ant-card-body {
  padding: 5px;
}

.button-update {
  width: 100%;
}

.search-input {
  width: 502px;
  margin: auto;
  margin-bottom: 3px;
}

.exercise-select {
  margin-right: 70px;
}

.exercise-dropdown {
  width: 237px;
  margin-bottom: 3px;
}

.search-video_empty {
  margin-left: 100px;
}
