.exercise-title {
  text-align: center;
}

.complete {
  text-decoration: line-through;
}

.selected {
  border: 1.5px solid darkblue;
}

.ant-card-actions > li {
  margin: 6px 0;
}

.ant-card-small > .ant-card-body {
  padding: 5px;
}

.button-update {
  width: 100%;
  background:#1b90fd;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  margin-top: 2px;
}

.button-update:hover {
  background: #40a9ff;
  cursor: pointer;
}

.search-input {
  width: 502px;
  margin: auto;
  margin-bottom: 3px;
}

.exercise-add_wrapper {
  margin-right: 200px;
}

.exercise-select {
  margin-right: 70px;
}

.exercise-dropdown {
  width: 237px;
  margin-bottom: 3px;
}

.search-video_empty {
  margin-left: 100px;
}

.exercise-text {
  word-wrap: break-word;
}

.exercise-content{
  overflow: auto;
}

.exercise-content::-webkit-scrollbar{
  width: 1px;
}

.exercise-row {
  margin-bottom: 1px;
}