.ant-switch-inner {
  font-size: 16px;
}

.exercise-title {
  text-align: center;
}

.complete {
  text-decoration: line-through;
}

.selected {
  border: 1.5px solid darkblue;
}

.ant-card-actions > li {
  margin: 6px 0;
}

.ant-card-small > .ant-card-body {
  padding: 5px;
}

.button-update {
  width: 100%;
}

.search-input {
  width: 502px;
  margin: auto;
  margin-bottom: 3px;
}

.exercise-select {
  margin-right: 70px;
}

.exercise-dropdown {
  width: 237px;
  margin-bottom: 3px;
}

.search-video_empty {
  margin-left: 100px;
}
