.goalInputField {
  width: 100%;
}

.userPhysicsField {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.userGoalField {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.goalRadioButtons .ant-radio-wrapper {
  display: block;
}