.statsCanvasContainer {
  position: relative;
  height: 80vmin;
}

.statsUserSummaryComponent {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.statsControlsComponent {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.statsUserSummaryComponent li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .statsCanvasContainer {
    height: 60vmin;
  }
}