.descriptions {
  margin-bottom: 2rem;
  width: 26rem;
}

.profileImage {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .profile {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .profileImageWrapper {
    display: none;
  }

  .descriptions {
    width: 19rem;
  }
}