.weatherContainer {
  position: absolute;
  top: 0.8rem;
  right: -1rem;
  color: #fff;
  line-height: normal;
  cursor: pointer;
}

.weatherIcon {
  width: 40px;
  height: 40px;
  margin-right: 0.4rem;
}

.weatherTitle {
  color: #fff;
  margin-right: 0.4rem;
}

.weatherSubtitle {
  color:rgba(255, 255, 255, 0.65);
  font-size: 0.7rem;
}

.weatherModalTitle {
  margin-bottom: 3px;
}

.weatherModalSubtitle {
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.weatherModalImg {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .content{
    display: none;
  }
}
