.switch {
  width: 40%;
}

.inputTimer {
  width: 50%;
}

.timeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerButtons{
  margin-top: 15px;
}

.stopwatchTime {
  padding-top: 10px;
}

.stopwatchValue {
  font-size: 12px;
  text-align: center;
}

.stopwatchValue:last-child {
  font-size: 28px;
  text-align: center;
}

.stopwatchCount {
  margin-bottom: 27px;
}

@media only screen and (max-width: 576px) {
  .stopwatchCount {
    margin-top: 20px;
  }
}