
.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogoLink {
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 20px;
}

.footerLogoLink:hover,
.footerLogoLink:focus {
  opacity: 0.9;
}

.footerLogoLink:active {
  opacity: 0.6;
}