.appLayout{
    min-height: 100vh;
}

.appLayoutSpace {
    height: 100%;
}

.appContent {
    min-height: calc( 100vh - 166px);
}

.appFooter {
    background: #001529;
    color: white;
}

.appFooter:global {
  padding-top: 11.2px;
  padding-bottom: 11.2px;
}